body.vscode-light {
     --navbar-background: #ddd4d4;
     --navbar-hover-background: #b4afaf;
     --navbar-link-color: #333;
}

body.vscode-dark {
     --navbar-background: #4d4747;
     --navbar-hover-background: #697269;
     --navbar-link-color: #c7bdbd;
}

.navbar {
     background-color: var(--navbar-background);
     position: fixed;
     top: 0;
     right: 0;
     width: 20%;
     height: 100%;
     z-index: 1000;
     overflow: hidden;
}

.navbar a:hover {
     background: var(--navbar-hover-background);
}

.navbar > ul {
     margin: 0;
     padding: 0;
     list-style: none;
}

.navbar > ul > li {
     margin-top: 5px;
     margin-bottom: 0;
     padding: 0;
}

.navbar > ul > li > a {
     display: inline-block;
     color: var(--navbar-link-color);
     text-align: left;
     padding: 0 10px;
     text-decoration: none;
}

.main {
	height: 100%;
	width: 80%;
}